---
layout: default
---

<div class="home">
  <h1 class="post-title">Blog</h1>

  <div class="hero">
<div class="row">
  <div class="col-md-6">
    <img src="{{ site.baseurl }}/assets/images/{{ site.posts[0].cover }}" style="
         min-height: 300px;
    margin-bottom: 20px;
    display: block;
    width: auto;
    object-fit: cover;">
  </div>
  <div class="col-md-6">
    
    <span class="post-meta">{{ site.posts[0].date | date: "%b %-d, %Y" }}</span>

    <h2>
      <a class="post-link" href="{{ site.posts[0].url | prepend: site.baseurl }}">{{ site.posts[0].title }}</a>
      <p class="post-description">{{ site.posts[0].description }}</p>
    </h2>
  </div>
</div>
  </div>

  <div class="post-list row no-gutters">
    {% for post in site.posts %}
    {% if post.url == site.posts[0].url %}
    {% continue %}
    {% endif %}
      <div class="col-md-5" style="margin-bottom: 30px;">
        <img src="{{ site.baseurl }}/assets/images/{{ post.cover }}" style="
         height: 200px;
         width: 100%;
    margin-bottom: 20px;
    display: block;
    object-fit: cover;">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <p class="post-description">{{ post.description }}</p>
        </h2>
      </div>

      <div class="col-md-1"></div>
    {% endfor %}
    </div>
<!-- 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
