---
layout: default
---
<article class="post">
  <header class="post-header">

    {% unless page.hideTitle %}
    <h1 class="post-title">{{ page.title }}</h1>
{% endunless %}
  </header>

  {% if page.card == "resume" %}
  <a class="main-article-link" href="{{ site.baseurl }}/assets/pdfs/Resume.pdf">
    <div class="secondary-article resume-card" style="background-image: url('{{ site.baseurl }}/assets/images/resume-card-background.svg');">
      <span>Atul Lal</span>
      <h1> Resume</h1>
      <p>Download a copy of my resume <br/> in PDF format from here</p>
      <img class="resume-arrow" src="{{ site.baseurl }}/assets/images/right-arrow.svg">
    </div>
    </a>
  {% endif %}


  <div class="post-content">
    {{ content }}
  </div>

</article>
